section {
    background-image: url("https://images.unsplash.com/photo-1668438712649-ffd85f756de5?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY3MTA2MDY5Mg&ixlib=rb-4.0.3&q=80&w=1080");
    height: 100vh;
    background-position: center;
}