section h1 {
    background-color: lightblue;
}
section {
    background-color: linen;
}
article {
    background-image: url("https://images.unsplash.com/photo-1668370477273-f18c110b2d46?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY3MTA1NjQ1OQ&ixlib=rb-4.0.3&q=80&w=1080");
}